@import './chartjs-visualizations.css';

.box-header-analytics{
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.doughnut-legend table {
    width: 100%;
}

.pages-table{
    width: 100%;
    table-layout: fixed;
    tr {
        font-size: 15px;
    }

    & tr:not(:first-child){
        border-top: 1px solid darkgray;
    }

    & td:not(:first-child){
        float: right;
        padding-right: 20%;
    }

    td {
        padding: 2px 0;
    }
}

#pages-container{
    height: auto;
}

.select_start, .select_start_pages{
    width: auto !important;
    float: right !important;
}
