@import './chartjs-visualizations.css';

.box-header-analytics{
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.block-analytics{
    /* Using plain CSS */
    @media (min-width: 960px) {
        height: 50vh;
        margin-bottom: 50px;
    }
}

.bg-block-analytics{
    height: 100%;
    overflow: auto;
}

.Chartjs-legend{
    overflow: auto;
}

.doughnut-legend table {
    width: 100%;
}

.pages-table{
    width: 100%;
    table-layout: auto;
    tr {
        font-size: 15px;
    }

    & tr:not(:first-child){
        border-top: 1px solid darkgray;
    }

    tr:first-child{
        td {
            color: rgba(0,0,0,0.54) !important;
        }
    }

    & td:not(:first-child){
        padding: 5px 0;
    }

    & td:nth-child(2){
        color: #3499ff;
    }

    & td:nth-child(3){
        color: #00b894;
    }

    & td:nth-child(4){
        color: #d70001;
    }

    td {
        padding: 2px 0;
    }
}

#pages-container{
    height: auto;
}

.select_start, .select_start_pages{
    width: auto !important;
    float: right !important;
}
