<div class="Chartjs p-4 shadow bg-block-analytics box box-primary" >
    <div class="box-header box-header-analytics">
        {% if icon is defined %}
            <i class="{{ icon }}"></i>
        {% endif %}
        <h3 class="box-title ">Sources de trafic </h3>
        {% include '@WDAdminAnalytics/select_start.html.twig' with {'default' : start | default(''), 'name' : 'sources', 'type': 'bar', 'label': 'Nombre d\'utilisateurs'} %}
    </div>
    <div class="box-body">
        <figure class="Chartjs-figure" id="sources-container"></figure>
        <div class="doughnut-legend" id="sources-legend"></div>

    </div>
</div>
