<div class="Chartjs p-4 shadow bg-block-analytics box box-primary" >
    <div class="box-header box-header-analytics">
        {% if icon is defined %}
            <i class="{{ icon }}"></i>
        {% endif %}
        <h3 class="box-title ">L'année dernière / Cette année </h3>
    </div>
    <div class="box-body">
        <figure class="Chartjs-figure" id="userYear-container"></figure>
        <ol class="Chartjs-legend" id="userYear-legend"></ol>
    </div>
</div>
